html, body, #map_canvas {
    margin: 0px;
}

#map_canvas {
    position: relative;
    width: 100% !important;
}


/************************/
/*Google MAPS properties*/
/************************/

.google-map-searchbox{
	top: 15px !important;
}