<div class="user-change-password">
  <h4>Change Password</h4>
  <div class="change-password-body">
    <form class="form" name="form" [ngFormModel]="pwdUpdateForm" (submit)="changePwd()" novalidate>
      <div class="col-md-12" class="form-group">
        <label>Ancien mot de passe</label>
        <input type="password" placeholder="Ancien mot de passe" class="form-control" name="password" ngControl="actualPwd">
      </div>
      <div ngControlGroup="passwords">
        <div class="col-md-12" class="form-group">
          <label>Nouveau mot de passe</label>
          <input type="password" name="newPassword" placeholder="Nouveau mot de passe" class="form-control" ngControl="newPwd">
          <div *ngIf="newPwd.dirty && !newPwd.valid">
            <p *ngIf="newPwd.errors.minlength" class="help-block">
              Le nouveau mot de passe doit contenir 6 caractères minimum.
            </p>
            <div *ngIf="newPwd.errors.checkComplexityPwd" class="help-block">
              Le nouveau mot de passe doit respecter les critères suivants :
              <ul>
                <li *ngIf="newPwd.errors.upper">Au moins 1 lettre en majuscule</li>
                <li *ngIf="newPwd.errors.lower">Au moins 1 lettre en minuscule</li>
                <li *ngIf="newPwd.errors.numbers">Au moins 1 chiffre</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12" class="form-group">
          <label>Retapez le nouveau mot de passe</label>
          <input type="password" placeholder="Retapez le nouveau mot de passe" class="form-control" name="confirm_password" required ngControl="repeatNewPwd">
        </div>
      </div>
      <!-- Error Mots de passes non similaires -->
      <span *ngIf="!newPwdGroup.valid" class="help-block text-danger">
        <div *ngIf="newPwdGroup?.errors?.areEqual">
          Les deux mots de passe ne sont pas identiques !
        </div>
      </span>
      <div class="col-md-12 text-center">
          <p class="help-block"> {{ message }} </p>
          <button type="submit" [disabled]="!newPwdGroup.valid || !pwdUpdateForm.valid">SAUVEGARDER</button>
      </div>
    </form>
  </div>
</div>