.user-change-password label {
	font-weight: normal;
}

.user-change-password label {
	font-weight: normal;
}

.user-change-password button {
	border: 0px;
	color: #fff;
	background: #00adef;
	padding: 10px 20px;
	margin-top: 20px;
	font-weight: bold;
}

.user-change-password button {
	margin-top: 5px;
}