<!-- START: PAGE TITLE -->
<div class="row listing-page-title">
	<div class="container clear-padding text-center flight-title">
		<h3>Première étape</h3>
		<h4 class="thank">Trouvons un moyen de nous déplacer ! :)</h4>
	</div>
</div>
<!-- END: PAGE TITLE -->

<div class="row">
	<div class="container">
		<div class="col-md-9 hotel-listing">
			<div *ngFor="#comparator of comparators">
				<div class="col-md-12 col-sm-12">
					<comparator [comparator]="comparator"></comparator>
				</div>
			</div>
		</div>
		<div class="col-md-3 clear-padding">
			<div class="filter-head text-center">
				<h4>Transports</h4>
			</div>
			<div class="filter-area">
				<p>Plusieurs moyens de transports s'offrent à nous. Vous ferez votre choix en fonction de vos envies, des prix, des disponibilités... Nous vous proposons ici une liste de comparateurs de transports qui vous proposerons tous les trajets actuellement disponibles sur le marché !</p>
				<div class="star-filter filter">
					<h5><i class="fa fa-dashboard"></i> Moyens de transports</h5>
					<ul *ngFor="#type of transportTypes">
						<li><input type="checkbox"> {{ type.name }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<br><br><br>