<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<!-- <div class="container" ng-controller="SettingsCtrl">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div> -->

<div ng-controller="SettingsCtrl">
  <!-- <div class="col-md-6">
    <div class="user-personal-info">
      <h4>Personal Information</h4>
      <div class="user-info-body">
        <form >
          <div class="col-md-6 col-sm-6">
            <label>First Name</label>
            <input type="text" name="fname" required placeholder="First Name" class="form-control">
          </div>
          <div class="col-md-6 col-sm-6">
            <label>First Name</label>
            <input type="text" name="lname" required placeholder="Last Name" class="form-control">
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12">
            <label>Email-ID</label>
            <input type="email" name="email" required placeholder="lenore@example.com" class="form-control">
          </div>
          <div class="col-md-12">
            <label>Contact Number</label>
            <input type="text" name="contact" required class="form-control">
          </div>
          <div class="col-md-12">
            <label>Date Of Birth</label>
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-4 col-xs-4 clear-padding">
              <select class="form-control" name="day">
                <option>Day</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
              </select>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <select class="form-control" name="month">
                <option>Month</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
              </select>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 clear-padding">
              <select class="form-control" name="year">
                <option>Year</option>
                <option>1990</option>
                <option>1991</option>
                <option>1992</option>
                <option>1993</option>
                <option>1994</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <label>Current Address</label>
            <textarea placeholder="Your Current Address" id="current-address" class="form-control" rows="5"></textarea>
            <div class="col-md-6 col-sm-6 col-xs-6 clear-padding">
              <input type="text" name="zip-code" class="form-control" placeholder="Zip Code">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="text" name="zip-code" class="form-control" placeholder="City">
            </div>
            <div class="col-md-6 col-sm-6 clear-padding">
              <select class="form-control" name="country">
                <option>Country</option>
                <option>Australia</option>
                <option>India</option>
                <option>USA</option>
                <option>UK</option>
              </select>
            </div>
            <div class="col-md-6 col-sm-6">
              <select class="form-control" name="state">
                <option>State</option>
                <option>CA</option>
                <option>GA</option>
                <option>NY</option>
                <option>SA</option>
                <option>WA</option>
              </select>
            </div>
          </div>  
          <div class="col-md-12">
            <label>Upload Avatar</label>
            <input type="file" name="profile-pic" class="upload-pic">
          </div>
          <div class="clearfix"></div>
          <div class="col-md-6 col-sm-6 col-xs-6 text-center">
             <button type="submit">SAVE CHANGES</button>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 text-center">
            <a href="#">CANCEL</a>
          </div>
        </form>
      </div>
    </div>
  </div> -->
  <div class="col-md-6">
    <div class="user-change-password">
      <h4>Change Password</h4>
      <div class="change-password-body">
        <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
          <div class="col-md-12" class="form-group">
            <label>Old Password</label>
            <input type="password" placeholder="Old Password" class="form-control" name="password" ng-model="user.oldPassword" mongoose-error>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
            </p>
          </div>
          <div class="col-md-12" class="form-group">
            <label>New Password</label>
            <input type="password" name="newPassword" placeholder="New Password" class="form-control" ng-model="user.newPassword" ng-minlength="3" required>
            <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
              Password must be at least 3 characters.
            </p>
          </div>
          <div class="col-md-12" class="form-group">
            <label>Confirm Password</label>
            <input type="password" placeholder="Confirm Password" class="form-control" ng-model="user.confirm_password" name="confirm_password" required data-password-verify="user.newPassword">
            <div ng-show="form.confirm_password.$error.required">
              Field required!</div>
            <div ng-show="form.confirm_password.$error.passwordVerify">
              Fields are not equal!</div>
          </div>
          <div class="col-md-12 text-center">
              <p class="help-block"> {{ message }} </p>
              <button type="submit">SAVE CHANGES</button>
          </div>
        </form>
      </div>
    </div>

    <!-- <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form> -->
    <!-- <div class="user-preference">
      <h4 data-toggle="collapse" data-target="#flight-preference" aria-expanded="false" aria-controls="flight-preference">
          <i class="fa fa-plane"></i> Flight Preference <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
      </h4>
      <div class="collapse" id="flight-preference">
        <form >
          <div class="col-md-6 col-sm-6">
            <label>Price Range</label>
            <select class="form-control" name="flight-price-range">
              <option>Upto $199</option>
              <option>Upto $250</option>
              <option>Upto $499</option>
              <option>Upto $599</option>
              <option>Upto $1000</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-6">
            <label>Food Preference</label>
            <select class="form-control" name="flight-food">
              <option>Indian</option>
              <option>Chineese</option>
              <option>Sea Food</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-6">
            <label>Airline</label>
            <select class="form-control" name="flight-airline">
              <option>Indigo</option>
              <option>Vistara</option>
              <option>Spicejet</option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 text-center">
             <button type="submit">SAVE CHANGES</button>
          </div>
        </form>
      </div>
    </div>
    <div class="user-preference">
      <h4 data-toggle="collapse" data-target="#hotel-preference" aria-expanded="false" aria-controls="hotel-preference">
          <i class="fa fa-bed"></i> Hotel Preference <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
      </h4>
      <div class="collapse" id="hotel-preference">
        <form >
          <div class="col-md-6 col-sm-6">
            <label>Price Range</label>
            <select class="form-control" name="hotel-price-range">
              <option>Upto $199</option>
              <option>Upto $250</option>
              <option>Upto $499</option>
              <option>Upto $599</option>
              <option>Upto $1000</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-6">
            <label>Food Preference</label>
            <select class="form-control" name="hotel-food">
              <option>Indian</option>
              <option>Chineese</option>
              <option>Sea Food</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-6">
            <label>Facilities</label>
            <select class="form-control" name="hotel-facilities">
              <option>WiFi</option>
              <option>Bar</option>
              <option>Restaurant</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-6">
            <label>Rating</label>
            <select class="form-control" name="hotel-facilities">
              <option>5</option>
              <option>4</option>
              <option>3</option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 text-center">
             <button type="submit">SAVE CHANGES</button>
          </div>
        </form>
      </div>
    </div> -->
  </div>
</div>