<div class="package-detail-sidebar">
	<div class="col-md-12 sidebar-wrapper clear-padding">
		<!-- Display if instance doesn't existe -->
		<div *ngIf="!instance" class="package-summary sidebar-item">
			<h4 class="header-title">
				Fonctionnalité en travaux <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			</h4>
		</div>
		<div *ngIf="instance">
			<div class="package-summary sidebar-item">
				<h4 class="header-title">
					{{ instance.operations[step].title }}
				</h4>
				<div class="package-summary-body">
					<span [innerHTML]="instance.operations[step].content | markdown"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar-item-bottom" *ngIf="instance && instance.operations.length > 1">
		<a class="previous-step step-arrow" *ngIf="step > 0" (click)="previousStep()">
			<i class="fa fa-chevron-left " aria-hidden="true"></i>
		</a>
		<div class="rate">
			<div class="minus" (click)="updateRate('down')">
				<i class="fa fa-minus" aria-hidden="true"></i>
			</div>
			<div class="score">
				<strong>36</strong>
			</div>
			<div class="plus" (click)="updateRate('up')">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</div>
		</div>
		<a class="next-step step-arrow" *ngIf="step < instance.operations.length - 1" (click)="nextStep()">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
	</div>
</div>