<div class="package-detail-sidebar">
	<div class="col-md-12 sidebar-wrapper clear-padding">
		<!-- Display if instance doesn't existe -->
		<div *ngIf="!instance" class="package-summary sidebar-item">
			<h4>
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Fonctionnalité en travaux
			</h4>
		</div>
		<div *ngIf="instance">
				<div class="package-summary sidebar-item">
				<h4>
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Fonctionnalité en travaux
				</h4>
				
				<h4>
					<i class="fa fa-bookmark"></i> {{ instance.name }}
				</h4>
				<div class="package-summary-body">
					<h5><i class="fa fa-heart"></i>Theme</h5>
					<p>Honeymoon, Group, Beach</p>
					<h5><i class="fa fa-map-marker"></i>Departure Port</h5>
					<p>Miami</p>
					<h5><i class="fa fa-globe"></i>Itinerary</h5>
					<p>Paris, London, Amesterdam</p>
				</div>
				<div class="package-summary-footer text-center">
					<div class="col-md-6 col-sm-6 col-xs-6 price">
						<h5>Starting From</h5>
						<h5><strong>$999/Person</strong></h5>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 book">
						<a href="#">BOOK NOW</a>
					</div>
				</div>
			</div>
			<div class="assistance-box sidebar-item">
				<h4><i class="fa fa-phone"></i> Need Assistance</h4>
				<div class="assitance-body text-center">
					<h5>Need Help? Call us or drop a message. Our agents will be in touch shortly.</h5>
					<h2>+91 1234567890</h2>
					<h3>Or</h3>
					<a href="mailto:info@yourdomain.com"><i class="fa fa-envelope-o"></i> Email Us</a>
				</div>
			</div>
			<div class="review sidebar-item">
				<h4><i class="fa fa-comments"></i> Package Reviews</h4>
				<div class="sidebar-item-body text-center">
					<div class="rating-box">
						<div class="col-md-6 col-sm-6 col-xs-6 clear-padding tripadvisor">
							<img src="assets/images/tripadvisor.png" alt="cruise"><br>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<h5>4.0/5.0 Based on 12 Reviews</h5>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 clear-padding">
							<i class="fa fa-users"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<h5>Based on 128 Guest Reviews</h5>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="guest-say rating-box">
						<h2><i class="fa fa-check-circle"></i> Perfect</h2>
						<div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 clear-padding user-img">
							<img src="assets/images/user1.jpg" alt="cruise">
						</div>
						<div class="col-md-7 col-sm-7 col-xs-7 clear-padding user-name">
							<span>Lenore, USA</span>
							<span>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>