/*********************************/
/* GENERAL */
/*********************************/

.header-title {
	text-align: right;
}



/*********************************/
/* FOOTER DESIGN */
/*********************************/

/* Navigation dans les operations*/
.sidebar-item-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 900;
	text-align:center;
	background: #e6e6e6;
}

.sidebar-item-bottom .previous-step {
	float:left;
}

.sidebar-item-bottom .next-step {
	float:right;
}

.step-arrow {
	font-size: large;
	padding: 20px 25px;
	background: rgba(242,103,107,0.9);
	color: white;
	cursor: pointer;
}

.step-arrow:hover {
	background: rgba(242,103,107,0.5);
	color: #00adef;
}

/* Gesion du systeme de notation d'une opération */
.sidebar-item-bottom .rate {
	display: inline-block;
	margin:0 auto;
	font-size: x-large;
	background: rgba(242,103,107,0.9);
	color: white;
}

.sidebar-item-bottom .rate .score {
	display: inline-block;
}

.sidebar-item-bottom .rate div {
	display: inline-block;
	padding: 15px 25px;
}

.sidebar-item-bottom .rate .plus:hover {
	background: rgba(0, 153, 51, 0.3);
	color: rgba(0, 153, 51, 1);
	cursor: pointer;
}

.sidebar-item-bottom .rate .minus:hover {
	background: rgba(242,103,107,0.8);
	color: red;
	cursor: pointer;
}