<div class="generales-infos">
  <form class="form" name="personal_infos_form" (submit)="updateUser()" [ngFormModel]="userUpdateForm" novalidate>
    <div class="col-md-6 col-sm-6">
      <label>Pseudo</label>
      <input type="text" name="fname" placeholder="Pseudo" class="form-control" ngControl="name">
    </div>
    <div class="col-md-6 col-sm-6">
      <label>Mail</label>
      <input type="email" name="email" required placeholder="tripy@example.com" class="form-control" ngControl="email">
    </div>
    <!-- <div class="clearfix space"></div>
    <div class="col-md-12 col-sm-12">
      
    </div> -->
    <div class="clearfix space"></div>
    <div class="col-md-12 col-sm-12">
      <label>Destinations préférées</label>
      <div class="input-group">
        <input type="text"
          id="dest_prefered"
          class="form-control"
          placeholder="Indiquez un lieu"
          ngControl="dest_prefered"
          (keyup.enter)="addPrefPlace()"
          [disabled] = "dest_prefereds.length > 2"/>
        <span class="input-group-addon"
        style="cursor: pointer; background: #F2676B;"
        (click)="addPrefPlace()">
          <i class="fa fa-plus" style="color: white;" aria-hidden="true"></i>
        </span>
      </div>
      <ul class="list-group">
        <li *ngFor="let dest of dest_prefereds; #i = index" class="list-group-item dest-list">
          <span class="badge" (click)="rmPrefPlace(i)"><i class="fa fa-times" aria-hidden="true"></i></span>
          {{ dest }}
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <label>Pays visités</label>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-4 visited-country" *ngFor="let visited_country of visited_countries">
              <span class="flag-icon" [ngClass]="visited_country"></span>
            </div>
            <div *ngIf="!vCFormVisible" class="col-md-3 col-sm-3 col-lg-3 col-xs-4 visited-country add-visited-country">
              <div (click)="vCFormVisible=true">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="vCFormVisible" class="panel-footer visited-country-form">
          <form (submit)="addVisitedCountry(countrySelected.value)">
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <select #countrySelected class="form-control">
                  <option *ngFor="let country of vCFormCountries" [value]="country.country_code">{{ country.country_name }}</option>
                </select>
              </div>
              <div class="col-md-4 col-sm-4">
                <button type="submit">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p class="help-block">{{ user_info_message }}</p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 text-center">
       <button type="submit">SAUVEGARDER</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 text-center">
      <a href="#">ANNULER</a>
    </div>
  </form>
</div>
