<div class="row">
	<div class="container">
		<div class="col-md-12 hotel-listing">
			<div *ngFor="#i of [1,2,3]">
				<!-- START: Transport LIST VIEW -->
				<div class="col-md-6 col-sm-6">
					<div class="cruise-list-view">
						<div class="col-md-9 clear-padding">
							<h4 style="text-align: center;">Comparateur de prix X</h4>
							<img src="assets/images/cruise2.jpg" alt="cruise">
						</div>
						<div class="clearfix-sm"></div>
						<div class="col-md-3 booking-box clear-padding text-center">
							<div class="rating-box">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<h5>Note de l'équipe</h5>
							</div>
							<div class="rating-box">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<h5>Note utilisateurs</h5>
							</div>
							<div class="price">
								<h3>$500</h3>
								<h5>$73/night</h5>
								<a href="#">Plus d'infos</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br><br><br>