<div class="row">
	<div class="container">
		<div class="col-md-12 hotel-listing">
			<!-- START: HOTEL LIST VIEW -->
			<div class="col-md-6 col-sm-6">
				<div class="cruise-list-view">
					<div class="col-md-4 col-sm-6 clear-padding">
						<img src="assets/images/cruise2.jpg" alt="cruise">
					</div>
					<div class="col-md-6 col-sm-6">
						<h4>Comparateur de prix X</h4>
						<p><strong><i class="fa fa-map-marker"></i> Departs From: </strong>Miami</p>
						<p><strong><i class="fa fa-globe"></i> Itinerary: </strong>Florida, Bahamas, Virgin Islands</p>
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="cruise-list.html#date2015"><i class="fa fa-calendar"></i> 2015</a></li>
							<li><a data-toggle="tab" href="cruise-list.html#date2016"><i class="fa fa-calendar"></i> 2016</a></li>
						</ul>
						<div class="tab-content">
							<div id="date2015" class="tab-pane fade in active">
								<table class="table">
									<tr>
										<td>Jul</td>
										<td>10</td>
										<td>20</td>
										<td>25</td>
									</tr>
									<tr>
										<td>Aug</td>
										<td>01</td>
										<td>15</td>
										<td>28</td>
									</tr>
									<tr>
										<td>Sep</td>
										<td>05</td>
										<td>17</td>
										<td>22</td>
									</tr>
								</table>
							</div>
							<div id="date2016" class="tab-pane fade">
								<table class="table">
									<tr>
										<td>Jul</td>
										<td>12</td>
										<td>22</td>
										<td>27</td>
									</tr>
									<tr>
										<td>Aug</td>
										<td>03</td>
										<td>17</td>
										<td>30</td>
									</tr>
									<tr>
										<td>Sep</td>
										<td>07</td>
										<td>19</td>
										<td>25</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="clearfix-sm"></div>
					<div class="col-md-2 booking-box clear-padding text-center">
						<div class="rating-box">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<h5>Based On 128 Reviews</h5>
						</div>
						<div class="price">
							<h3>$500</h3>
							<h5>$73/night</h5>
							<a href="cruise-list.html#">VIEW DETAILS</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>