node_modules

public

.tmp
.tmpBack
.idea
.tscache/
tscommand*

client/bower_components
back_office/app/bower_components
back_office_A2/app/bower_components
back_office_A2/app/lib
dist
apidoc
report
./logs/
typings/

/server/config/local.env.js
npm-debug.log

# frontOfficeA2
frontOfficeA2/src/lib/
frontOfficeA2/src/app/tripy_go_lib/