<div class="panel-body">
    <ul class="timeline">
        <li ng-repeat="operation in timelines[timelineIndex].operations" ng-class="{'timeline-inverted':$index%2==1}">
          <div
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{operation.title}}</h4><i ng-click="vote(operation.rate._id, 'up')" class="fa fa-check"></i>
                  <i ng-click="vote(operation.rate._id, 'down')" class="fa fa-check"></i>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> score: {{operation.rate.score}} / {{operation.rate.raters}}</small>
                    </p>
                </div>
                <div class="timeline-body">
                  {{operation.content}}
                </div>
              <div class="timeline-footer">
                <a ng-show="operation.step > 0" ng-click="moveOperation(1, operation._id, timelines[timelineIndex]._id)" class="glyphicon glyphicon-menu-up"></a><a ng-show="operation.step < timelines[timelineIndex].operations.length -1" ng-click="moveOperation(-1, operation._id, timelines[timelineIndex]._id)" class="glyphicon glyphicon-menu-down"></a><a ng-click="deleteOperationFromTimeline(timelines[timelineIndex], operation._id)" class="glyphicon glyphicon-remove"></a>
              </div>
            </div>
        </li>

    </ul>
</div>
