<div>
  <div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12">
      <div class="row">
        <div class="col-lg-12 col-xs-12 col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">Administration des promos</div>
            <div class="panel-body">
              <button class="btn btn-default" (click)="createPromo()" *ngIf="!editPromo">Remarquer une Promotion</button>
              <button class="btn btn-info" (click)="notifyFb()"><i class="fa fa-facebook"></i>Notifier Facebook</button>
              <div class="row" *ngIf="editPromo">
                <div class="col-lg-12">
                  <div class="row">
                    <!-- Type d'activité -->
                    <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                      <label class="control-label col-md-4" for="type">Type de promotion:</label>
                        <div class="col-md-8">
                          <select class="form-control" name="type" [(ngModel)]="editPromo.type">
                            <option value="transport" selected>Transports</option>
                            <option value="hebergement">Hébergement</option>
                            <option value="activity">Activité</option>
                            <option value="other">Autres</option>
                          </select>
                        </div>
                    </div>
                    <!-- /Type d'activité -->

                    <!-- Url de la promo -->
                    <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                      <label class="control-label col-md-4" for="url">Url de la promo:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" [(ngModel)]="editPromo.url" placeholder="URL de la promo">
                      </div>
                    </div>
                    <!-- / Url de la promo -->
                  </div>
                  <div class="row">
                    <!-- Nom du vendeur -->
                    <div class="col-lg-6 col-md-6 col-xs-12 from-group">
                      <label class="control-label col-sm-4" for="vendor">Nom du marchand:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" name="vendor" [(ngModel)]="editPromo.vendor" placeholder="Nom du vendeur">
                      </div>
                    </div>
                    <!-- /Nom du vendeur -->

                    <!-- Discount -->
                    <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                      <div class="input-group">
                        <label class="control-label col-sm-4" for="discount">Pourcentage de la promotion:</label>
                        <div class="col-md-8 input-group">
                          <input type="number" min="0" name="discount" [(ngModel)]="editPromo.discount" class="form-control" aria-label="Pourcentage de la réduction">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                    </div>
                    <!-- / Discount -->
                  </div>
                  <div class="row">
                  <!-- Initial price -->
                  <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label class="control-label col-md-4" for="initial_price">Prix initial:</label>
                    <div class="col-md-8">
                      <input type="number" min="0" name="initial_price" [(ngModel)]="editPromo.initial_price" placeholder="Prix initial" class="form-control" aria-label="Prix initial">
                    </div>
                  </div>
                  <!-- / Initial price -->

                  <!-- Activer -->
                  <div class="col-lg-6 col-md-6 col-xs-12 form-group">

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="editPromo.active">
                      Activer la promo
                    </label>
                  </div>
                </div>
                  <!-- /Activer -->



                </div>
                <div class="row">
                  <!-- Date de fin -->
                  <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                      <label class="control-label col-lg-12" for="end_date">Date de fin de la promo: </label>
                      <datepicker name="end_date" class="col-lg-12" [(ngModel)]="editPromo.end_date" [minDate]="minDate" [showWeeks]="true"></datepicker>
                  </div>
                  <!-- / Date de fin -->

                  <!-- Image de la promo -->
                  <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label class="control-label col-md-4" for="img">Url de l'image:</label>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-lg-10">
                          <input type="text" class="form-control" [(ngModel)]="editPromo.img" placeholder="Url de l'image" aria-label="Url de l'image">
                        </div>
                        <div class="col-lg-2">
                          <input type="checkbox" [(ngModel)]="preview">
                        </div>
                        <div class="col-lg-12" *ngIf="preview">
                          <img *ngIf="editPromo.img" class="img-preview" src="{{editPromo.img}}">
                        </div>
                    </div>
                  </div>
                  <!-- / Image de la promo -->
                </div>
              </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-default" (click)="savePromo()">Sauvegarder</button><button class="btn btn-warn" (click)="editPromo = null">Annuler</button>
                  </div>
                </div>
            </div>
          </div>
      </div>
      <!-- / edit/create -->
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="#promo of promos">
          <div class="thumbnail">
            <img src={{promo.img}}>
            <div class="caption">
              <h3>{{promo.vendor}}</h3>
              <p>{{promo.initial_price}} € * {{promo.discount}}% = {{promo.initial_price * 0.01 * promo.discount}} €</p>
              <br />
              <p><strong>Clicks anonymes: </strong>{{promo.clicks.anonymous}}</p>
              <p><strong>Clicks connectés: </strong>{{promo.clicks.connected.length}}</p><br />
              <a href="{{promo.url}}">Voir la promo</a>
              <p><button class="btn btn-primary" role="button" (click)="editAPromo(promo)"><i class="fa fa-edit"></i>Editer</button> <button class="btn btn-default" (click)="archivePromo(promo)" role="button"><i class="fa fa-delete"></i>Supprimer</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / page -->
  </div>
</div>
