<!-- Errors -->
<div  *ngFor="#error of errors" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
  <button type="button" class="close" (click)="errors.splice(errors.indexOf(error),1)" style="float: right;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<!-- messages -->
<div  *ngFor="#message of messages" class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <span class="sr-only">Success:</span>
  {{message}}
  <button type="button" class="close" (click)="messages.splice(messages.indexOf(message),1)" style="float: right;" aria-label="Close"><span aria-hidden="true">&times;</span></button>

</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Options
  </div>
  <div class="panel-body">


    <div class="row">
      <div class="form-group">
        <label class="control-label col-sm-2" for="query">Rechercher par: </label>
        <div class="col-sm-8">
          <input type="text" class="form-control " id="query" [(ngModel)]="query" placeholder="Rechercher une entrée log">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="control-label col-sm-2" for="orderby">Trier par:</label>
        <div class="col-sm-2">
          <select class="form-control" id="orderby" [(ngModel)]="orderby" disabled>
            <option *ngFor="#option of keys">{{option}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control" [(ngModel)]="orderType" disabled>
            <option *ngFor="#option of orderOptions">{{option}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control" [(ngModel)]="level" ng-change="get()">
            <option value="All">All</option>
            <option value="debug">Debug</option>
            <option value="info">Info</option>
            <option value="warn">Warn</option>
            <option value="error">Error</option>
          </select>
        </div>
      </div>
      <button (click)="get()" class="btn btn-primary">Rafraichir</button>
      <button (click)="drop()" class="btn btn-warning">Supprimer tout</button>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    Infos
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <a class="btn btn-primary" download="logs.json" href="{{ url }}">Télécharger au format JSON</a>
      </div>
    </div>
    <div class="row" *ngIf="stats">
      <div class="col-lg-6 col-sm-12" id="doughnut-chart">
        <div class="panel panel-default">
          <div class="panel-heading">Levels</div>
          <div class="panel-body" *ngIf="stats.data">
            <base-chart id="doughnut" class="chart chart-doughnut chart-xs" chartType="Doughnut" [data]="stats.data" [labels]="stats.labels" [options]="chartOptions" [legend]="legend"></base-chart>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12" id="doughnut-chart">
        <div class="panel panel-default">
          <div class="panel-heading">Levels showed</div>
          <div class="panel-body" *ngIf="stats.dataLocal">
            <base-chart id="doughnut1" class="chart chart-doughnut chart-xs" chartType="Doughnut" [data]="stats.dataLocal" [labels]="stats.labels" [options]="chartOptions" [legend]="legend"></base-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="logs">
      <div class="col-lg-12">
        <table class="table table-striped table-bordered table-hover" role="grid">
          <thead>
          <tr role="row">
            <th class="sorting">Date</th>
            <th class="sorting">Level</th>
            <th class="sorting">Message</th>
            <th class="sorting">Meta</th>
          </tr>
          </thead>
          <tbody>
          <!--  |filter:query |orderBy:orderType+orderby -->
          <tr *ngFor="#log of logs | filterLog:query | selectLevel:level" class="getClassFromInfo(log)">
            <td>{{log.timestamp}}</td>
            <td>{{log.level}}</td>
            <td>{{log.message}}</td>
            <td>{{log.meta}}</td>
            <td><a (click)="deleteLog(log)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="pagination">
      <ul class="pagination" *ngFor="#item of range(pagination.maxPage); #i = index ">
        <li><a (click)="get()">{{i+1}}</a></li>
      </ul>
      </div>
    </div>
  </div>
</div>
