/*************************************/
/* CHANGE PICTURE STYLE */
/*************************************/
.my-drop-zone {
	border: dotted 3px lightgray;
	margin: 25px 0px 20px 0px;
}

/* Default class applied to drop zones on over */
.nv-file-over {
	border: dotted 3px red;
}
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }
