<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<!-- <div class="container" ng-controller="SettingsCtrl">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div> -->

<div class="col-md-6">
  <div class="user-personal-info">
    <h4>Informations générales</h4>
    <div class="user-info-body">
      <form class="form" name="personal_infos_form" (submit)="updateUser()" [ngFormModel]="userUpdateForm" novalidate>
        <div class="col-md-6 col-sm-6">
          <label>Pseudo</label>
          <input type="text" name="fname" placeholder="Pseudo" class="form-control" ngControl="name">
        </div>
        <div class="col-md-6 col-sm-6">
          <label>Mail</label>
          <input type="email" name="email" required placeholder="tripy@example.com" class="form-control" ngControl="email">
        </div>
        <div class="clearfix space"></div>
        <div class="col-md-12 col-sm-12">
          <label>Destinations préférées</label>
          <div class="input-group">
            <input type="text" 
              id="dest_prefered"
              class="form-control"
              placeholder="Indiquez un lieu"
              ngControl="dest_prefered"
              (keyup.enter)="addPrefPlace()"
              [disabled] = "dest_prefereds.length > 2"/>
            <span class="input-group-addon"
            style="cursor: pointer; background: #F2676B;"
            (click)="addPrefPlace()">
              <i class="fa fa-plus" style="color: white;" aria-hidden="true"></i>
            </span>
          </div>
          <ul class="list-group">
            <li *ngFor="#dest of dest_prefereds; #i = index" class="list-group-item dest-list">
              <span class="badge" (click)="rmPrefPlace(i)"><i class="fa fa-times" aria-hidden="true"></i></span>
              {{ dest }}
            </li>
          </ul>
        </div>
        <div class="col-md-12">
          <label>Pays visités</label>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-sm-3 visited-country">
                  <span class="flag-icon flag-icon-gr"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <p class="help-block">{{ user_info_message }}</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
           <button type="submit">SAUVEGARDER</button>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
          <a href="#">ANNULER</a>
        </div>
      </form>
    </div>
  </div>
  <div class="user-change-password">
    <h4>Change Password</h4>
    <div class="change-password-body">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
        <div class="col-md-12" class="form-group">
          <label>Old Password</label>
          <input type="password" placeholder="Old Password" class="form-control" name="password" ng-model="user.oldPassword" mongoose-error>
          <!-- <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.other }}
          </p> -->
        </div>
        <div class="col-md-12" class="form-group">
          <label>New Password</label>
          <input type="password" name="newPassword" placeholder="New Password" class="form-control" ng-model="user.newPassword" ng-minlength="3" required>
          <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>
        <div class="col-md-12" class="form-group">
          <label>Confirm Password</label>
          <input type="password" placeholder="Confirm Password" class="form-control" ng-model="user.confirm_password" name="confirm_password" required data-password-verify="user.newPassword">
          <div ng-show="form.confirm_password.$error.required">
            Field required!</div>
          <div ng-show="form.confirm_password.$error.passwordVerify">
            Fields are not equal!</div>
        </div>
        <div class="col-md-12 text-center">
            <p class="help-block"> {{ message }} </p>
            <button type="submit">SAVE CHANGES</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="user-personal-info">
    <h4>Change Avatar</h4>
    <div class="user-info-body">
      <form class="form" name="personal_photo_form" novalidate>
        <div class="col-md-12 col-sm-12 clear-padding text-center">
          <img [src]="_auth.getUserAvatar()" alt="avatar"/>
        </div>
        <!-- <div class="col-md-12 col-sm-12">
          <label>Télécharger Avatar</label>
          <input type="file" name="filefield" class="upload-pic" onchange="angular.element(this).scope().changePersonalPhoto(this.files)">
        </div> -->
        <div class="row">

          <div class="col-md-12">
              <div ng2-file-drop
                   [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                   (fileOver)="fileOverBase($event)"
                   [uploader]="uploader"
                   class="well my-drop-zone">
                  Déposez ici une nouvelle photo
              </div>

              Ou ici
              <input type="file" ng2-file-select [uploader]="uploader" />
          </div>

          <div class="col-md-12 text-center" style="margin-bottom: 40px">
            <div *ngFor="#item of uploader.queue">
              <button type="button" class="btn btn-success btn-xs"
                      (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      (click)="item.remove()">
                  <span class="glyphicon glyphicon-trash"></span> Annuler
              </button>
            </div>
          </div>
        </div>
        <div class="text-center">
          <p class="help-block">{{ photo_info_message }}</p>
        </div>
      </form>
    </div>
  </div>
</div>