<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tables</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">

  <stats number="{{db_info.collections}}" comments="Collections" colour="primary" type="table"></stats>
  <stats number="{{db_info.objects}}" comments="Objects" colour="primary" type="user"></stats>
  <stats number="{{db_info.avgObjSize}}" comments="avgSize" colour="yellow" type="list"></stats>
  <stats number="{{db_info.dataSize}}" comments="Data Size" colour="red" type="list"></stats>

</div>
<!-- /.row -->

