<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

  <!-- Errors -->
  <div  ng-repeat="error in errors track by $index" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
    <button type="button" class="close" ng-click="errors.splice(errors.indexOf(error),1)" style="float: right;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>

  <!-- messages -->
  <div  ng-repeat="message in messages track by $index" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <span class="sr-only">Success:</span>
    {{message}}
    <button type="button" class="close" ng-click="messages.splice(messages.indexOf(message),1)" style="float: right;" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  </div>

  <div class="row">

        <stats number="{{timelines.length}}" comments="Timelines!" colour="primary" type="comments" goto="#"></stats>
        <stats number="{{operations.length}}" comments="Opérations!" colour="primary" type="user" goto="#"></stats>
    </div>

    <button class="btn btn-primary" ng-click="createOperation()" ng-show="operationEdit == null">Créer une opération</button>
    <button class="btn btn-primary" ng-click="createTimeline()" ng-show="operationEdit == null">Créer une nouvelle timeline</button>
    <div class="row" ng-show="createTimeline">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i>Timeline
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="name">Nom de la timeline *</label>
                <input type="text" class="form-control" id="name" ng-model="newTimeline.name">
              </div>
              <div class="form-group">
                <label class="control-label" for="description">Description de la timeline</label>
                <input type="text" class="form-control" id="description" ng-model="newTimeline.description">
              </div>
              <button class="btn btn-primary" ng-click="createThisTimeline()" ng-show="operationEdit == null">Créer la timeline</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-show="operationEdit != null">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i>Opération
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="title">Titre de l'opération</label>
                <input type="text" class="form-control" id="title" ng-model="operationEdit.title" required>
              </div>
              <div class="form-group">
                <label class="control-label" for="content">Contenu de l'opération</label>
                <input type="text" class="form-control" id="content" ng-model="operationEdit.content" required>
              </div>
              <div class="panel panel-info">
                <div class="panel-heading">Timelines</div>
                <div class="panel-body">
                  <table class="table table-bordered table-stripped col-lg-12">
                    <thead>
                      <tr><td class="col-lg-8">Nom de la timeline</td><td class="col-lg-2">Action</td></tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="timeline in timelines">
                        <td>{{timeline.name}}</td>
                        <td><a class="glyphicon glyphicon-plus" ng-hide="isTimelineOnOperation(timeline, operationEdit)" ng-click="addToTimeline(timeline)"></a>
                          <a class="glyphicon glyphicon-minus" ng-click="removeFromTimeline(timeline)" ng-show="isTimelineOnOperation(timeline, operationEdit)"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              </div>

              <div ng-show="operationEdit.title.length>0 && operationEdit.content.length>0">
                <button type="submit" class="btn btn-primary" ng-click="saveOperation(operationEdit)">Sauvegarder le conseil</button>
                <button type="submit" class="btn btn-danger" ng-click="operationEdit = null">Annuler</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8" ng-show="timeline != null">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                {{timeline.description}}
                <!-- /.panel-heading -->
                <timeline></timeline>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4" ng-show="operations.length > 0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Opérations
                </div>
                <div class="row" ng-repeat="operation in operations">
                  <div class="col-lg-9"><i class="glyphicon glyphicon-exclamation-sign"></i>{{operation.title}}</div>
                  <div class="col-lg-1"><a ng-click="editOperation(operation)" class="trash"><span class="glyphicon glyphicon-edit pull-right"></span></a></div>
                  <div class="col-lg-1"><a ng-click="deleteOperation(operation)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a></div>

                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
