<section>
    <div class="row single-search">
        <div class="container clear-padding">
            <div class="col-md-12 clear-padding search-section">
                <h2 class="text-center">FIND YOUR PERFECT ESCAPE</h2>
                <div role="tabpanel" class="tab-pane" id="hotel">
                    <form (ngSubmit)="startWithSubmit()"  [ngFormModel]="startForm">
                        <div class="col-md-3 col-sm-3 search-col-padding">
                            <div class="input-group" [ngClass]="{inputFocused: departureFocused}">
                                <span class="input-group-addon">DE</span>
                                <input type="text" id="input-departure" class="form-control" placeholder="Indiquer un lieu" ngControl="departure" (focus)="departureFocused = true" (blur)="departureFocused = false"/>
                                <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 search-col-padding">
                            <div class="input-group" [ngClass]="{inputFocused: arrivalFocused}">
                                <span class="input-group-addon"> A</span>
                                <input type="text" id="input-arrival" class="form-control" placeholder="Indiquer un lieu" ngControl="arrival" (focus)="arrivalFocused = true" (blur)="arrivalFocused = false">
                                <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 search-col-padding">
                            <div class="input-group" [ngClass]="{inputFocused: dDepartureFocused}">
                                <span class="input-group-addon">DU</span>
                                <input type="text" class="form-control depart_date" ngControl="date_departure" (focus)="dDepartureFocused = true" (blur)="dDepartureFocused = false">
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 search-col-padding">
                            <div class="input-group" [ngClass]="{inputFocused: dArrivalFocused}">
                                <span class="input-group-addon">AU</span>
                                <input type="text" class="form-control return_date" ngControl="date_return" (focus)="dArrivalFocused = true" (blur)="dArrivalFocused = false">
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 text-center">
                            <p class="help-block" *ngIf="departure.dirty && departure.hasError('required')">Lieu de départ requis</p>
                            <p class="help-block" *ngIf="arrival.dirty && arrival.hasError('required')">Destination requise</p>
                            <p class="help-block">{{ login_error }}</p>
                        </div>
                        <div class="col-md-12 text-center search-col-padding">
                            <button type="submit" class="search-button btn transition-effect" [disabled]="!startForm.valid">Let's GO !</button>
                        </div>
                        <div class="clearfix"></div>

                            <p class="more-infos">
                            <a href="#how-it-work">
                            Euh..c’est quoi ce site?
                            </a>
                            </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="how-it-work">
    <div class="row work-row">
        <div class="container">
            <div class="section-title text-center">
                <h2>Organise ton voyage avec</h2>
            </div>
            <div class="work-step">
                <div class="col-md-6 col-sm-6 text-center">
                    <i><img src="assets/fonts/main/best-choice.svg"></i>
                    <h3>Les meilleurs sites pour réserver</h3>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                    <i><img src="assets/fonts/main/comment.svg"></i>
                    <h3>Les avis pertinents de la communauté</h3>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                    <i><img src="assets/fonts/main/girl.svg"></i>
                    <h3>Les recommendations de ton agent virtuel</h3>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                    <i><img src="assets/fonts/main/tool-for-saving-money.svg"></i>
                    <h3>Les bons plans pour amortir tes frais de voyage</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="advice-row">
    <div class="row top-advice">
        <div class="container">
            <div class="section-title text-center">
                <h2>Profitez de conseils pertinents</h2>
                <h4>COMMUNAUTEE - AGENT VIRTUEL</h4>
                <div class="space"></div>
                <p>
                Fini de se dire "A, si j'avais sû !". Découvrez toutes les possibilités que vous réserve l'organisation de vacances en ligne !
                </p>
            </div>
            <div class="work-step">
                <div class="col-md-6 col-sm-6 text-center">
                    <i><img class="community" src="assets/fonts/communication.svg"></i>
                    <h5>La communautée</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                    <i><img class="virtual-agent" src="assets/fonts/virtualAgent.svg"></i>
                    <h5>L'agent de voyage virtuel</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
