<!-- <div class="row">
    <div id="room-gallery" class="carousel slide bg-slider" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#room-gallery" data-slide-to="0" class="active"></li>
            <li data-target="#room-gallery" data-slide-to="1"></li>
            <li data-target="#room-gallery" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="assets/images/hotel-slide.jpg" alt="Cruise">
              <div class="carousel-caption">
                <div class="wrapper">
                  <h2><span>World Travel Community</span></h2>
                  <h4>La nouvelle communautée de voyage</h4>
                  <a href="index-3.html#">VIEW DETAILS</a>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="assets/images/hotel-slide1.jpg" alt="Cruise">
              <div class="carousel-caption">
                <div class="wrapper">
                  <h2><span>World Travel Community</span></h2>
                  <h4>La nouvelle communautée de voyage</h4>
                  <a href="index-3.html#">VIEW DETAILS</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="assets/images/hotel-slide2.jpg" alt="Cruise">
              <div class="carousel-caption">
                <div class="wrapper">
                  <h2><span>World Travel Community</span></h2>
                  <h4>La nouvelle communautée de voyage</h4>
                  <a href="index-3.html#">VIEW DETAILS</a>
                </div>
              </div>
            </div>
        </div>
        <a class="left carousel-control" href="#room-gallery" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#room-gallery" role="button" data-slide="next">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>-->
<!-- END: SEARCH SECTION -->

<!-- BEGIN: SEARCH SECTION -->
<section>
  <div class="row holiday-search single-search">
    <div class="container clear-padding">
      <div class="col-md-12 clear-padding search-section">
        <h2 class="text-center">FIND YOUR PERFECT ESCAPE</h2>
        <!-- START: HOTEL SEARCH -->
          <div role="tabpanel" class="tab-pane" id="hotel">
            <form >
              <div class="col-md-offset-1 col-sm-offset-1 col-md-3 col-sm-3 search-col-padding">
                <label>Point départ</label>
                <div class="input-group">
                  <input type="text" name="dep-city" class="form-control" required placeholder="E.g. New York">
                  <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 search-col-padding">
                <label>Destination</label>
                <div class="input-group">
                  <input type="text" name="des-city" class="form-control" required placeholder="E.g. London">
                  <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 search-col-padding">
                <label>Date départ</label>
                <div class="input-group">
                  <!-- <datepicker name="dep_date" [(ngModel)]="date" class="form-control" showWeeks="true"></datepicker> -->
                  <input type="text" name="dep_date" id="depart_date" class="form-control" placeholder="MM/DD/YYYY">
                  <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12 text-center search-col-padding">
                <button type="submit" class="search-button btn transition-effect">Let's GO !</button>
              </div>
              <div class="clearfix"></div>
              <a href="#how-it-work">
                <p class="more-infos">
                  En savoir plus
                </p>
              </a>
            </form>
          </div>
          <!-- END: HOTEL SEARCH -->
        </div>
    </div>
  </div>
</section>
<!-- END: SEARCH SECTION -->



<!-- BEGIN: HOW IT WORK -->
<section id="how-it-work">
    <div class="row work-row">
      <div class="container">
        <div class="section-title text-center">
          <h2>Organiser son voyage</h2>
          <h4>DESTINATION - TRANSPORT - HEBERGEMENT</h4>
          <div class="space"></div>
          <p>
            Grâce à notre agent de voyage virtuel et à nos algorithmes de recherche ultra-performents,<br>
            nous t'aidons à organiser ton voyage !
          </p>
        </div>
        <div class="work-step">
          <div class="col-md-4 col-sm-4 first-step text-center">
            <i class="fa fa-globe"></i>
            <h5>Trouver sa destination</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <div class="col-md-4 col-sm-4 second-step text-center">
            <i class="fa fa-plane"></i>
            <h5>Réserver son transport</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <div class="col-md-4 col-sm-4 third-step text-center">
            <i class="fa fa-home"></i>
            <h5>Réserver son hébergement</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
</section>
<!--END: HOW IT WORK -->

<!-- BEGIN: TOP DESTINATION SECTION -->
<section id="top-holiday-row">
  <div class="row top-holiday">
    <div class="container">
      <div class="section-title text-center">
        <h2>TOP DESTINATION</h2>
        <h4>CHECK OUT TOP DESTINATIONS</h4>
      </div>
      <div class="col-md-4 col-sm-6 tour-grid clear-padding">
        <img src="assets/images/tour1.jpg" alt="Cruise">
        <div class="tour-brief">
          <div class="pull-left">
            <h4><i class="fa fa-map-marker"></i>FRANCE</h4>
          </div>
          <div class="pull-right">
            <h4>$49/Person</h4>
          </div>
        </div>
        <div class="tour-detail text-center">
          <p><strong><i class="fa fa-plane"></i>25 Packages</strong></p>
          <p><strong>Starting $49/Person</strong></p>
          <p><a href="holiday.html#">DETAIL</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 tour-grid clear-padding">
        <img src="assets/images/tour3.jpg" alt="Cruise">
        <div class="tour-brief">
          <div class="pull-left">
            <h4><i class="fa fa-map-marker"></i>DUBAI</h4>
          </div>
          <div class="pull-right">
            <h4>$99/Person</h4>
          </div>
        </div>
        <div class="tour-detail text-center">
          <p><strong><i class="fa fa-plane"></i>40 Packages</strong></p>
          <p><strong>Starting $99/Person</strong></p>
          <p><a href="holiday.html#">DETAIL</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 tour-grid clear-padding">
        <img src="assets/images/tour2.jpg" alt="Cruise">
        <div class="tour-brief">
          <div class="pull-left">
            <h4><i class="fa fa-map-marker"></i>BANGKOK</h4>
          </div>
          <div class="pull-right">
            <h4>$69/Person</h4>
          </div>
        </div>
        <div class="tour-detail text-center">
          <p><strong><i class="fa fa-plane"></i>90 Packages</strong></p>
          <p><strong>Starting $69/Person</strong></p>
          <p><a href="holiday.html#">DETAIL</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 tour-grid clear-padding">
        <img src="assets/images/tour7.jpg" alt="Cruise">
        <div class="tour-brief">
          <div class="pull-left">
            <h4><i class="fa fa-map-marker"></i>AFRICA</h4>
          </div>
          <div class="pull-right">
            <h4>$90/Person</h4>
          </div>
        </div>
        <div class="tour-detail text-center">
          <p><strong><i class="fa fa-plane"></i>6 Packages</strong></p>
          <p><strong>Starting $90/Person</strong></p>
          <p><a href="holiday.html#">DETAIL</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 tour-grid clear-padding">
        <img src="assets/images/tour10.jpg" alt="Cruise">
        <div class="tour-brief">
          <div class="pull-left">
            <h4><i class="fa fa-map-marker"></i>BELGIUM</h4>
          </div>
          <div class="pull-right">
            <h4>$89/Person</h4>
          </div>
        </div>
        <div class="tour-detail text-center">
          <p><strong><i class="fa fa-plane"></i>8 Packages</strong></p>
          <p><strong>Starting $89/Person</strong></p>
          <p><a href="holiday.html#">DETAIL</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 tour-grid clear-padding">
        <img src="assets/images/tour5.jpg" alt="Cruise">
        <div class="tour-brief">
          <div class="pull-left">
            <h4><i class="fa fa-map-marker"></i>AUSTRIA</h4>
          </div>
          <div class="pull-right">
            <h4>$199/Person</h4>
          </div>
        </div>
        <div class="tour-detail text-center">
          <p><strong><i class="fa fa-plane"></i>28 Packages</strong></p>
          <p><strong>Starting $199/Person</strong></p>
          <p><a href="holiday.html#">DETAIL</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END: TOP DESTINATION SECTION -->


<script type="text/javascript">
  console.log('works !');
  $( "#depart_date" ).click(function(){
      console.log($( "#depart_date" ));
    });
</script>