/**
*
* Author: Mathieu ALLAIN
* Description: Stylesheet main page
*
**/

/*********************************************************
	TABLE OF CONTENTS
	1. START WITH CONTENT
	2. ADVICE SECTION CONTENT
**********************************************************/

/*********************************************************
			1. START WITH CONTENT
**********************************************************/
.single-search {
	padding: 60px 0px;
	color: #fff;
	background-attachment: fixed;
	text-shadow: -1px 1px 0px #f9676b;
}

@media screen and (min-width: 1270px) {
    .single-search {
    	background: url('assets/images/main/slider1-large.jpg');
    }
}

@media screen and (max-width: 1269px) {
    .single-search {
    	background: url('assets/images/main/slider1-medium.jpg');
    }
}

.single-search .search-section {
	margin: 0px;
}
.single-search h2 {
	margin: 0 0 15px;
	font-weight: 800;
	letter-spacing: 1px;
}
.single-search  .search-button {
	margin-top: 30px;
}
.single-search .form-control {
	color: #fff;
	border: 1px solid #fff;
}
.single-search .input-group-addon {
	background: rgba(249, 103, 107, 0.60) none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    /*color: #fff;*/
}
.single-search .custom-select-button {
	border: 1px solid #fff;
}

.search-section {
	margin-top: 60px;
	margin-bottom: 60px;
}
.search-section .nav-tabs {
	border-bottom: none;
}
.search-section .nav-tabs .active {
	position: relative;
}
.search-section .nav-tabs .active:after {
	background: #f9676b none repeat scroll 0 0;
    content: "";
    height: 20px;
    left: 40%;
    position: absolute;
    top: 80%;
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    width: 20px;
}
.search-section .nav-tabs > li > a {
	color: #ffffff;
	background: rgba(10, 49, 82, 0.5);
	letter-spacing: 1px;
	font-weight: bold;
	border-radius: 2px 2px 0 0;
	margin-right: 4px;
}
.search-section .nav > li > a {
	padding: 15px;
}
.search-section .nav-tabs > li {
	margin-bottom: 0px;
}
.search-section .nav-tabs > li > a:hover {
	color: #ffffff;
	background: #f9676b;
	border: 1px solid transparent;
}
.search-section .nav-tabs > li.active > a,
.search-section .nav-tabs > li.active > a:focus,
.search-section .nav-tabs > li.active > a:hover {
	color: #ffffff;
	background: #f9676b;
	border: 1px solid transparent;
}
.search-section .tab-content {
	color: #07253F;
	background: #fff;
	padding: 30px 15px;
}
.search-section label {
	font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.search-section .form-control {
	background-color: transparent;
    border: 1px solid #BEC4C8;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #07253F;
    display: block;
    font-size: 15px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.search-section .form-control::-moz-placeholder {
	color: #989DA0;
	opacity:1;
}
.search-section .form-control:-ms-input-placeholder {
	color: #BEC4C8;
}
.search-section .form-control::-webkit-input-placeholder {
	color: #BEC4C8;
}
.search-section .form-control::-o-input-placeholder {
	color: #BEC4C8;
}
.search-section .input-group-addon {
	border-top: 1px solid #BEC4C8;
	border-right: 1px solid #BEC4C8;
	border-bottom: 1px solid #BEC4C8;
	border-radius: 0;
	color: #07253f;
	text-shadow: none;
	font-weight: bold;
}
.search-section .product-search-title {
	font-size: 18px;
	display: block;
	font-weight: 800;
	text-transform: uppercase;
	color: #f9676b;
}
.search-section .search-col-padding {
	padding-top: 15px;
}
.search-section option {
	color: #07253F;
}

.search-section .ng-touched {
	color: white;
}

.inputFocused span{
	color: white !important;
	background: #f9676b !important;
	border: 1px solid #f9676b !important;
}

.inputFocused input{
	color: #07253f !important;
	background: white !important;
	border: 1px solid #f9676b !important;
}

.search-section h2 {
	margin-bottom: 40px;
}

.more-infos{
	text-decoration: underline;
	font-weight: bold;
	color: #f9676b;
	text-align: center;
	padding-top: 15px;
}


/*********************************************************
			2. ADVICE SECTION CONTENT
**********************************************************/

.top-advice {
	padding: 60px 0px;
	color: #fff;
}

.top-advice .work-step i ,
.top-advice .work-step .first-step:after,
.top-advice .work-step .second-step:before{
	background: #00adef !important;
}

.top-advice .work-step .second-step:after,
.top-advice .work-step .third-step:before {
	display: none;
}

#advice-row {
	background-attachment: fixed;
}

@media screen and (min-width:  1271px) {
    #advice-row {
    	background: url('assets/images/main/advice1-large.jpg');
    }
}

@media screen and (max-width:  1270px) {
    #advice-row {
    	background: url('assets/images/main/advice1-medium.jpg');
    }
}

.virtual-agent{
	height: 35px;
	width: 40px;
}

.community{
	height: 35px;
	width: 40px;
}
