/**
*
* Author: Mathieu ALLAIN
* Description: Stylesheet transport comparator page
*
**/

/*********************************************************
	TABLE OF CONTENTS
	1. GENERAL
	2. IMG
	3. COMPARATOR NAME
	4. COMMENTS
	5. COMPARATOR LINK
	6. RATING
	7. LIST-COMMENTS
**********************************************************/

/*********************************************************
			1. GENERAL
**********************************************************/

.cruise-list-view {
	margin-top: 40px;
	border: 1px solid #e6e6e6;
	box-shadow: 0px 0px 5px #e6e6e6;
	overflow: hidden;
	height: 165px;
}
.cruise-list-view:hover {
	border: 1px solid #F19C4F;
	box-shadow: 0px 0px 5px #F19C4F;
}

.cruise-list-view strong {
	color: #00ADEF;
	margin-right: 10px;
}

/*********************************************************
			2. IMG
**********************************************************/

.cruise-list-view img {
	max-width: 100%;
	padding: 15px;
}

.img.wide{
	max-width: 100%;
    max-height: 100%;
    height: auto;
}

/*********************************************************
			3. COMPARATOR NAME
**********************************************************/

.cruise-list-view .element-box {
	/*min-height: 125px;*/
	padding: 13.4px 0px;
	border: 1px solid #e6e6e6;
}

.comparator-title .tooltip-title {
    visibility: hidden;
    width: 120px;
    background-color: #00adef;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-weight: bold;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.comparator-title:hover .tooltip-title {
    visibility: visible;
}

/*********************************************************
			4. COMMENTS
**********************************************************/

.comments-button{
	position: absolute; 
	bottom: 0; 
	width: 100%; 
	text-align: center;
}

.comments-button i{
	padding: 10px 25px 10px 25px; 
	margin-bottom: 0px; 
	background: #F2676B; 
	color: white; 
	cursor: pointer;
	margin-top: -10px;
}

.list-comments {
	text-align: center;
	padding-bottom: 20px;
}

.list-comments .rating-box {
	min-height: 0;
	padding: 0;
	border-bottom: none;
}

.comments-link {
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-align: center;
	background: rgba(249, 103, 107, 1);
}

.comments-link i {
	margin: 10px 0px;
	color: white;
}

.comments-link:hover {
	background: #00adef;
}

/* On active */
.comments-link-active {
	background: #00adef;
}

.comments-link-active i {
	color: #F2676B;
}


/*********************************************************
			5. COMPARATOR LINK
**********************************************************/

.external-link-container {
	height: 100%;
	display: inline-block;
}

.external-link {
	background: rgba(249, 103, 107, 1);
	color: white;
	height: 100%;
	width: 100%;
	cursor: pointer;
    text-align: center;
    display: flex; /* comportement visuel de cellule */
}

.external-link i {
	margin: auto;
}

.external-link:hover {
	background: #00adef;
	color: white;
}


/*********************************************************
			6. RATING
**********************************************************/

.cruise-list-view .booking-box {
	border-left: 1px solid #e6e6e6;
}
.cruise-list-view  .rating-box i {
	margin-right: 0px;
}
.cruise-list-view .rating-box {
	/*min-height: 125px;*/
	padding: 13px 0px;
	border: 1px solid #e6e6e6;
}

.rating-box .tooltip-ergo {
	visibility: hidden;
    width: 120px;
    background-color: #00adef;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.rating-box:hover .tooltip-ergo {
    visibility: visible;
}

.rating-box .tooltip-contenu {
	visibility: hidden;
    width: 120px;
    background-color: #00adef;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin: -50px 0px 0px 30px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.rating-box:hover .tooltip-contenu {
    visibility: visible;
}


/*********************************************************
			7. LIST-COMMENTS
**********************************************************/

.list-comments {
	border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px #e6e6e6;
}

.list-comments:hover {
	border: 1px solid #F19C4F;
	box-shadow: 0px 0px 5px #F19C4F;
}

/*********************************************************
			8. NUMBER OF COMPANYS
**********************************************************/

.nb-company .tooltip-nb-company {
    visibility: hidden;
    width: 120px;
    background-color: #00adef;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin: -50px 0px 0px 30px;
    border-radius: 6px;
    font-weight: bold;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.nb-company:hover .tooltip-nb-company {
    visibility: visible;
}