<div ng-controller="OverviewCtrl">
	<div class="col-md-6 col-sm-6">
		<div class="brief-info">
			<div class="col-md-2 col-sm-2 clear-padding">
				<img [src]="_auth.getUserAvatar()" alt="avatar">
			</div>
			<div class="col-md-10 col-sm-10">
				<h3>{{ user.fname }} {{ user.name }}</h3>
				<h5><i class="fa fa-envelope-o"></i>{{ user.email }}</h5>
				<h5 *ngIf="user.city && user.country"><i class="fa fa-globe"></i>{{ user.city }}, {{ user.country }}</h5>
			</div>
			<div class="clearfix"></div>
			<div class="brief-info-footer">
				<a href="/profile"><i class="fa fa-edit"></i>Edit Profile</a>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6">
		<!-- <div class="user-profile-offer">
			<h4>Offers For You</h4>
			<div class="offer-body">
				<div class="offer-entry">
					<div class="col-md-4 col-sm-4 col-xs-4 offer-left text-center">
						<p>20% OFF</p>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-8 offer-right">
						<p>Get 20% OFF on flights when you pay with your Bank of America Credit Card. <a href="#">Book Now</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="offer-entry">
					<div class="col-md-4 col-sm-4 col-xs-4 offer-left text-center">
						<p>30% OFF</p>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-8 offer-right">
						<p>Get 30% OFF on flights when you pay with your Bank of America Credit Card. <a href="#">Book Now</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="offer-entry">
					<div class="col-md-4 col-sm-4 col-xs-4 offer-left text-center">
						<p>10% OFF</p>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-8 offer-right">
						<p>Get 10% OFF on flights when you pay with your Bank of America Credit Card. <a href="#">Book Now</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div> -->
		<div class="user-notification">
			<h4>Notification</h4>
			<div class="notification-body">
				<p class="text-center">Pas encore de notifications</p>
				<!-- <div class="notification-entry">
					<p><i class="fa fa-plane"></i> Domestic Flights Starting from $199 <span class="pull-right">1m ago</span></p>
				</div>
				<div class="notification-entry">
					<p><i class="fa fa-bed"></i> 20% Cashback on hotel booking <span class="pull-right">1h ago</span></p>
				</div>
				<div class="notification-entry">
					<p><i class="fa fa-bolt"></i> 50% off on all items <span class="pull-right">08h ago</span></p>
				</div>
				<div class="notification-entry">
					<p><i class="fa fa-sun-o"></i> New Year special offer <span class="pull-right">1d ago</span></p>
				</div>
				<div class="notification-entry">
					<p><i class="fa fa-plane"></i> Domestic Flights Starting from $199 <span class="pull-right">1m ago</span></p>
				</div>
				<div class="notification-entry">
					<p><i class="fa fa-bed"></i> 20% Cashback on hotel booking <span class="pull-right">1h ago</span></p>
				</div> -->
			</div>
		</div>
		<div class="most-recent-booking">
			<h4>Derniers voyages</h4>

			<div class="field-entry">
				<p  *ngIf="!user || user.travels.length == 0" class="text-center">Pas encore de voyage</p>
				<div *ngFor="let travel of user.travels">
					<div class="col-md-5 col-sm-5 col-xs-5 clear-padding">
						
					</div>
					<div class="col-md-7 col-sm-7 col-xs-7">
						<div *ngIf="travel.name">
							{{ travel.name }}
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
