.site {
  margin: 0px;
  padding: 1px;
}

img.siteImg {
  max-width: 100%;
  padding: 1px;
}

.comment-site {
	position: absolute;
    right: 15px;
    bottom: 0;
    color: #ffffff;
    padding: 10px;
    background: #F2676B;
    cursor: pointer;
}

.holiday-grid-view {
	text-shadow: 1px 1px 2px #F2676B, 0 0 1em #F2676B, 0 0 0.2em #F2676B;
   	color: white;
}