  <div class="col-md-4 col-xs-4 col-lg-4 site" *ngIf="siteContent">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12">
        <img class="siteImg" src="{{siteContent.company.img}}" />
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12">
        <span>{{siteContent.company.name}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-3 col-lg-3 rates" *ngIf="rates.length > 0">
    <div *ngFor="let rate of rates">
      <rating [(ngModel)]="rate.value"
              (onHover)="hoveringOver($event)" (onLeave)="resetStar($event)"
              ></rating>
    </div>
  </div>
  <div class="col-md-7 col-xs-7 col-lg-7">
    Commentaire
  </div>
