  <div class="col-md-6 col-xs-12 col-lg-4 site" *ngIf="siteContent">
        <img class="siteImg" src="{{siteContent.company.img}}" />

        <span>{{siteContent.company.name}}</span>
  </div>
  <div class="col-md-6 col-xs-12 col-lg-4 rates" *ngIf="rates">
    <div>
      <span>Ergonomie</span><br/>
      <rating [(ngModel)]="rates.ergo_rate"
              (onHover)="hoveringOver($event)" (onLeave)="resetStar('ergo_rate', $event)"
              ></rating>
    </div>
    <div>
      <span>Contenu</span><br />
      <rating [(ngModel)]="rates.content_rate"
              (onHover)="hoveringOver($event)" (onLeave)="resetStar('content_rate', $event)"
              ></rating>
    </div>

  </div>
  <div class="col-md-12 col-xs-12 col-lg-4">
    <textarea [(ngModel)]="comment"></textarea>
    <button class="btn btn-submit" *ngIf="comment">Commenter</button>
  </div>
