.travelTitle {
  background: #00adef;
  color: #eee;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.titleIcon {
  padding-right: 7px;
  padding-left: 3px;
  display: inline-block;
  color: #f9676b;
  transition: 0.5s ease-in-out;
}

.find {
  opacity: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 300ms cubic-bezier(0, .6, .6, 1); /* for collapsing */
}

.find input {
  width: 100%;
}

.find.active {
  opacity: 1;
  max-height: 100px;
  transform-origin: 50% 50%;
  transition: max-height 400ms ease-in; /* for expansion */
}

.titleIcon:hover {
  -webkit-transform: rotate(90deg) scale(1.10);
  -moz-transform: rotate(90deg) scale(1.10);
  -o-transform: rotate(90deg) scale(1.10);
  -ms-transform: rotate(90deg) scale(1.10);
  transform-origin: 50% 50%;
  transform: rotate(90deg) scale(1.10);

}

.addIcon {
  display: inline-block;
  transition: 0.5s ease-in-out;
}

.addIcon:hover {
  -webkit-transform: rotate(90deg) scale(1.10);
  -moz-transform: rotate(90deg) scale(1.10);
  -o-transform: rotate(90deg) scale(1.10);
  -ms-transform: rotate(90deg) scale(1.10);
  transform-origin: 50% 50%;
  transform: rotate(90deg) scale(1.10);

}

h2.travelTitle {
  text-align: center;
}

.participant {
  margin: 1px;
  padding: 5px;
}

.participant img {
  max-width: 100%;
  max-height: 100%;
}

.userPic {
  border-radius: 50%;
  margin: 0.5px;
  padding: 0.5px;
}

.right {
  float: right;
}
