/**
*
* Description: Travel Profil page
*
**/

/*********************************************************
  TABLE OF CONTENTS
  1. GENERAL
  2. MAP
  3. TITLE
  4. PARTICIPANTS
  5. USED SITES
**********************************************************/

/*********************************************************
      1. GENERAL
**********************************************************/

.right {
  float: right;
}

.package-detail-sidebar {
  position: absolute;
  left: 0px;
  top: 57px;
  bottom: 81px;
  overflow: scroll;
  overflow-x:hidden;
}

/*********************************************************
      2 - MAP
**********************************************************/
#map {
  position: absolute;
  right: 0px;
  top: 57px;
  bottom: 81px;
  height: calc(100% - 57px - 81px);
  transition: width 2s;
  -webkit-transition: width 2s; /* Safari */
}

/*********************************************************
      3 - TITLES
**********************************************************/
.header-title {
  text-align: center;
  min-height: 60px;
}

.header-title span {
  cursor: pointer;
  font-size: 30px;
}

.travelSubTitle {
  background: #00adef;
  color: #eee;
  margin: 0;
  text-align: center;
}

/*********************************************************
      4. PARTICIPANTS
**********************************************************/
.participant {
  border: 1px solid #e6e6e6;
  box-shadow: 0px 0px 5px #e6e6e6;
  overflow: hidden;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.participant img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.9;
}

.userPic {
  border-radius: 50%;
  margin: 0.5px;
  padding: 0.5px;
}

/*********************************************************
      4. PARTICIPANT RESEARCH
**********************************************************/

.find {
  opacity: 0;
  width: 100%;
  max-height: 0px;
  transition: max-height 300ms cubic-bezier(0, .6, .6, 1); /* for collapsing */
  text-align: center;
}

.find input {
  width: 80%;
  text-align: center;
  margin : 0 auto;
  margin-bottom: 10px;
}

.find.active {
  opacity: 1;
  max-height: 100%;
  transform-origin: 50% 50%;
  transition: max-height 400ms ease-in; /* for expansion */
}

.addIcon {
  display: inline-block;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.memberFind {
  padding: 0px;
  margin: 0px;
}

.find li {
  list-style: none;
  background-image:none;
  background-repeat:none;
  background-position:0;
  background-color: #eeeeee;
  border: 1px solid grey;
  cursor: pointer;
}

.find li img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.find ul
{
  padding: 0px;
  width: 80%;
  margin : 0 auto;
  margin-bottom: 10px;
}

@media only screen and (min-width: 400px) {
  .friend-img {
    width: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  .friend-img {
    width: 100px;
  }
}


/*********************************************************
      5. USED SITES
**********************************************************/

.holiday-grid-view {
  cursor: pointer;
}

/*****************************/
/* GENERAL SCROLLBARS DESIGN */
/*****************************/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,173,239,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
     background: rgba(0,173,239,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,173,239,0.5); 
}