<div class="row">
  <!-- Panneau de gauche -->
  <div class="col-lg-4 col-md-4 col-xs-12">
    <h1>Nom du voyage<span class="fa fa-edit right"></span></h1>
    <div class="participants">
      <h2 class="travelTitle">Participants</h2>
      <div class="find"  [class.active]="addFriends">
        <input type="text" placeholder="ajouter un ami" [(ngModel)]="friendSearch" (keyup)="searchRequest()"/>
        <ul>
          <li *ngFor="let member of search" (click)="addFriend(member)" class="memberFind">
            <img src="{{member.picture}}" class="friend-img" /><span>{{member.name}}</span>
          </li>
        </ul>
      </div>

      <!-- Photo des utilisateurs -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="row">
            <div *ngFor="let user of participants" class="col-md-2 col-lg-4 col-xs-2 participant">
              <img src="{{user.picture}}" class="userPic" />
            </div>
            <div class="col-md-2 col-lg-4 col-xs-2 participant">
              <div (click)="addFriends = !addFriends"><img class="addIcon" src="/assets/fonts/plus.svg" /></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Photo des utilisateurs -->
    </div>

    <div class="used_site">
      <h2 class="travelTitle"><div class="titleIcon fa fa-plus-circle"></div>Sites utilisés</h2>
      <div class="row" *ngFor="let site of sites">
        <site [site]="site"></site>
      </div>
    </div>
  </div>
  <!-- Fin panneau de gauche -->
  <!-- panneau de droite -->
  <div class="col-lg-8 col-md-8 col-xs-12">
    <h1>Afficher carte</h1>
  </div>
  <!-- fin du panneau de droite -->
</div>
