<section id="footer">
  <footer>
    <!-- <div class="row main-footer-sub">
      <div class="container clear-padding">
        <div class="col-md-7 col-sm-7">
          <form >
            <label>SUBSCRIBE TO OUR NEWSLETTER</label>
            <div class="clearfix"></div>
            <div class="col-md-9 col-sm-8 col-xs-6 clear-padding">
              <input class="form-control" type="email" required placeholder="Enter Your Email" name="email">
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 clear-padding">
              <button type="submit"><i class="fa fa-paper-plane"></i>SUBSCRIBE</button>
            </div>
          </form>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="social-media pull-right">
            <ul>
              <li><a href="index-2.html#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="index-2.html#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="index-2.html#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="index-2.html#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="index-2.html#"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="main-footer row">
      <div class="container clear-padding">
        <div class="col-md-3 col-sm-6 about-box">
          <h3>WTC</h3>
          <p>The World Travel Community, la startup créatrice de l'agent de voyage informatique le plus déjanté d'internet !</p>
          <a href="#">READ MORE</a>
        </div>
        <div class="col-md-3 col-sm-6 links">
          <h4>Pages</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Let's Travel</a></li>
            <li><a href="#">Find Your Destination</a></li>
          </ul>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Domestic Flights</a></li>
            <li><a href="#">International Flights</a></li>
            <li><a href="#">Tours & Holidays</a></li>
            <li><a href="#">Domestic Hotels</a></li>
            <li><a href="#">International Hotels</a></li>
            <li><a href="#">Cruise Holidays</a></li>
            <li><a href="#">Car Rental</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 contact-box">
          <h4>Contact Us</h4>
          <p><i class="fa fa-home"></i> Brest</p>
          <p><i class="fa fa-phone"></i> +33 631067282</p>
          <p><i class="fa fa-envelope-o"></i> maaath29@gmail.com</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div> -->
    <div class="main-footer-nav row">
      <div class="container clear-padding">
        <div class="col-md-6 col-sm-6">
          <p>Copyright &copy; 2015 WTC. All Rights Reserved.</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <ul>
            <li><a href="" [routerLink]="['Home']">HOME</a></li>
            <li><a href="" [routerLink]="['AboutUs']">TRIPY-GO TEAM</a></li>
            <li><a href="" [routerLink]="['Contact']">CONTACTS</a></li>
          </ul>
        </div>
        <div class="go-up">
          <a href="#up"><i class="fa fa-arrow-up"></i></a>
        </div>
      </div>
    </div>
  </footer>
</section>