<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
	<div class="container">
		<h2>Donnez nous des renseignements sur vous et vos envies pour ce voyage !</h2>
		<br />

		<div class="row">
			<form class="travel-form" ng-submit="addTrip()" name="travelForm">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">€</span>
						<input type="number" ng-model="newTravel.budget" class="form-control" aria-label="Budget pour votre voyage" placeholder="Budget pour votre voyage">
						<span class="input-group-addon">.00</span>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<input type="Number" ng-model="newTravel.nbTravellers" class="form-control" aria-label="Nombre de voyageurs" placeholder="Nombre de voyageurs">
					</div>
			    </div>

			    <div class="form-group choice-type-dates">
                    <div class="btn-group" role="group" aria-label="Type dates idea">
                        <button type="button" class="btn btn-default" id="focus_dates" ng-click="newTravel.choose_by_dates = true; newTravel.choose_by_month = false">Dates précises</button>
                        <button type="button" class="btn btn-default" id="focus_month" ng-click="newTravel.choose_by_month = true; newTravel.choose_by_dates = false">Mois</button>
                    </div>
			    </div>

                <div class="form-group" ng-show="newTravel.choose_by_dates">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="date" class="form-control" datepicker-popup ng-model="newTravel.date_departure" is-open="status.date_departure" min-date="minDate" max-date="{{date | date:'2020-06-22'}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 'date_departure')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="date" class="form-control" datepicker-popup ng-model="newTravel.date_return" is-open="status.date_return" min-date="minDate" max-date="{{date | date:'2020-06-22'}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 'date_return')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class = "form-group" ng-show="newTravel.choose_by_month">
                <div class="col-md-offset-3 col-md-6">
                        <p class="input-group">
                            <input type="date" class="form-control" datepicker-popup ng-model="newTravel.month_departure" is-open="status.month_departure" min-date="minDate" max-date="{{date | date:'2020-06-22'}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'month_departure')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Post">
                </div>

                <pre>{{newTravel|json}}</pre>
            </form>
        </div>
	</div>


  	<ul class="travels-list">
	    <li ng-repeat="travel in travels">
			<header>{{ travel.author.id }}</header>
			<!-- <p>{{ trip.content }}</p> -->
	    </li>
  	</ul>
</div>