<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
	<div class="container">
		<h2>Donnez nous des renseignements sur vous et vos envies pour ce voyage !</h2>
		<br />

		<div class="row">
			<form class="travel-form" ng-submit="addTrip()" name="travelForm">
                <div class="form-group">
                    <input type="text" ng-model="newTravel.name" class="form-control" aria-label="Titre de votre voyage" placeholder="Titre de votre voyage">
                </div>

				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">€</span>
						<input type="number" ng-model="newTravel.budget" class="form-control" aria-label="Budget pour votre voyage" placeholder="Budget pour votre voyage">
						<span class="input-group-addon">.00</span>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<input type="Number" ng-model="newTravel.nbTravellers" class="form-control" aria-label="Nombre de voyageurs" placeholder="Nombre de voyageurs">
					</div>
			    </div>

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                    <input type="text" class="form-control" ng-model="newTravel.departure" placeholder="Lieu de départ" googleplace/>
                </div>

                <hr>
                <h4>Connaissez vous déjà votre destination ?</h4>

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                    <input type="text" class="form-control" ng-model="newTravel.arrival" placeholder="Destination" googleplace/>
                </div>

                <hr>

			    <div class="form-group choice-type-dates">
                    <div class="btn-group" role="group" aria-label="Type dates idea">
                        <button type="button" class="btn btn-default" id="focus_dates" ng-click="newTravel.choose_by_dates = true; newTravel.choose_by_month = false">Dates précises</button>
                        <button type="button" class="btn btn-default" id="focus_month" ng-click="newTravel.choose_by_month = true; newTravel.choose_by_dates = false">Mois</button>
                    </div>
			    </div>

                <div class="form-group" ng-show="newTravel.choose_by_dates">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="date" class="form-control" datepicker-popup ng-model="newTravel.date_departure" is-open="status.date_departure" min-date="minDate" max-date="{{date | date:'2020-06-22'}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 'date_departure')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="date" class="form-control" datepicker-popup ng-model="newTravel.date_return" is-open="status.date_return" min-date="minDate" max-date="{{date | date:'2020-06-22'}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 'date_return')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class = "form-group" ng-show="newTravel.choose_by_month">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <p class="input-group">
                                <input type="date" class="form-control" datepicker-popup ng-model="newTravel.month_departure" is-open="status.month_departure" min-date="minDate" max-date="{{date | date:'2020-06-22'}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 'month_departure')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="row">
                        <h4>Quels sont vos centres d'intérêts ?</h4>
                        <div class="col-md-offset-1 col-md-11">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="newTravel.personal_interest.playa" />
                                    La plage
                                </label>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-11">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="newTravel.personal_interest.mountain" />
                                    La montagne
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="row">
                        <h4>Gérez vos Hashtags</h4>
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="selectedHashtag in newTravel.selectedHashtags">
                                <li>
                                    <a href="#" tooltip="{{selectedHashtag.info}}">
                                        {{ selectedHashtag.name }}
                                        <button type="button" class="close" ng-click="deSelectHashtag(selectedHashtag)">&times;</button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-5">
                            <label>Ajoutez des Hashtags </label>

                            <div class="input-group">
                                <input type="search" id="searchinputhashtag" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                            <br>

                            <div id="searchlist" class="list-group">
                                <a class="list-group-item" tooltip="{{ hashtag.info }}" ng-click="addHashtag(hashtag)"  ng-repeat="hashtag in allHashtags"><span>{{ hashtag.name }}</span></a>
                            </div>
                        </div>

                        <div class="col-lg-offset-2 col-lg-5">
                            <label>Créez d'autres Hashtags</label>
                            <div class="form-group">
                                <input type="text" placeholder="Nom" class="form-control" ng-model="newHashtag.name">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Description" class="form-control" ng-model="newHashtag.info">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" ng-click="createHashtag()">Créer</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Let's travel !">
                </div>

                <pre>{{newTravel|json}}</pre>
            </form>
        </div>
	</div>


  	<!-- <ul class="travels-list">
	    <li ng-repeat="travel in travels">
			<header>{{ travel.author.id }}</header>
	    </li>
  	</ul> -->
</div>

<script>
    $('#searchlist').btsListFilter('#searchinputhashtag', {itemChild: 'span'});
</script>