<div class="col-sm-6 col-md-4">
    <article class="card">
        <header class="card__thumb" ng-if="advice.url">
            <a href="{{ advice.url }}">
                <img src="{{ advice.img }}">
            </a>
        </header>
        <div class="card__date">
            <span class="card__date__day">{{ stringAsDate(advice.date_creation)|date:'dd' }}</span>
            <span class="card__date__month">{{ stringAsDate(advice.date_creation)|date:'MMM' }}</span>
        </div>
        <div class="card__body">
            <h2 class="card__title">{{ advice.title }}</h2>
            <p class="card__description">
                <span [innerHTML]="advice.description | markdown"></span>
                <!-- {{ advice.description }} -->
            </p>
        </div>
    </article>
</div>
