<!-- START: PAGE TITLE -->
<div class="row page-title">
	<div class="container clear-padding text-center flight-title">
		<h3>Nous contacter</h3>
		<h4 class="thank">Let's Get Connected</h4>
		<socialMedias></socialMedias>
	</div>
</div>
<!-- END: PAGE TITLE -->

<!-- START: CONTACT-US -->
<div class="row contact-address">
	<div class="container clear-padding">
		<div class="text-center">
			<h2>GET IN TOUCH</h2>
			<h5>N'hésitez pas à nous envoyer un message pour échanger, nous rencontrer ou seulement aller boire un verre ! ;)</h5>
			<div class="space"></div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-map-marker"></i>
				<p>Paris, France</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-envelope-o"></i>
				<p><a href="mailto:contact@tripy-go.fr">contact@tripy-go.fr</a></p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-phone"></i>
				<p>+33 631067282</p>
			</div>
		</div>
	</div>
</div>
<!-- END: CONTACT-US -->
<!-- START: MAP & CONTACT FORM -->
<div class="row">
	<div class="container clear-padding">
		<!-- <div class="col-md-6 col-sm-6">
			<iframe class="contact-map" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJG1usnet4BTkRzQqb_Ys-JOg&amp;key=AIzaSyB6hgZM-ruUqTPVUjXGUR-vv7WRqc4MXjY"></iframe>
		</div> -->
		<div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 contact-form">
			<div class="col-md-12 text-center">
				<h2>LAISSER UN MESSAGE</h2>
				<h5>Laissez nous un message ! :)</h5>
			</div>
			<form action="MAILTO:contact@tripy-go.fr" method="post" enctype="text/plain">
				<div class="col-md-6 col-sm-6">
					<input type="text" name="name" required class="form-control" placeholder="Votre Nom">
				</div>
				<div class="col-md-6 col-sm-6">
					<input type="email" name="email" required class="form-control" placeholder="Votre Email">
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12">
					<input type="text" name="message-title" required class="form-control" placeholder="Intitulé du message">
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12">
					<textarea class="form-control" rows="5" id="comment" placeholder="Votre Message"></textarea>
				</div>
				<div class="clearfix"></div>
				<div class="text-center">
					<button type="submit" class="btn btn-default submit-review">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- END: MAP & CONTACT FORM -->