<section>
	<div class="row page-title">
		<div class="container clear-padding text-center flight-title">
			<h3>Tripy-Team</h3>
			<h4>Quelques mots à notre propos</h4>
		</div>
	</div>
</section>

<section>
	<div class="row about-intro">
		<div class="container clear-padding">
			<div class="col-md-6 col-sm-6">
				<h2>Qui sommes nous</h2>
				<p>Quatre passionnés de voyage animés par le partage et les valeurs humaines. L’échange autour de nos expériences personnelles nous a mené vers une réflexion autour de l’expérience voyageur.</p>
				<p>
					Disposant de compétences complémentaires dans le domaine du tourisme, du développement et de la communication nous avons souhaité développer un site pouvant servir aux voyageur d’un jour, ou insatiables.
				</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<img src="assets/images/hotel-slide5.jpg" alt="cruise">
			</div>
			<div class="col-md-12 col-sm-12" style="margin-top: 5px;">
				<p>
					Par le biais de l’expertise métier et des conseils avisés de la communauté des TripyGuys nous volons permettre l’échange et l’interaction autour d’intérêts communs. Vous y retrouverez également des clés pour construire votre voyage.
				</p>
				<p>
					Parce qu’un voyage ne s’arrête pas à l’arrivée, et parce qu’il se cultive cultive au biais des rencontres, nous souhaitons retranscrire sur cette plate-forme vos plus belles émotions et vos anecdotes les plus marquantes. 
				</p>
			</div>
		</div>
	</div>

	<div class="row our-team">
		<div class="container clear-padding">
			<div class="section-title text-center">
				<h2>Notre équipe</h2>
				<h4>Des étudiants d'horizons différents</h4>
			</div>
			<div>
				<div class="col-md-3 col-sm-6 text-center">
					<div class="team-member">
						<img src="assets/images/team/marine.jpg" alt="cruise">
						<h4>Marine</h4>
						<h5>Digital Communication, Social Media</h5>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center">
					<div class="team-member">
						<img src="assets/images/team/maelle.jpg" alt="cruise">
						<h4>Maëlle</h4>
						<h5>Travel Expert</h5>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-3 col-sm-6 text-center">
					<div class="team-member">
						<img src="assets/images/team3.jpg" alt="cruise">
						<h4>Mathieu</h4>
						<h5>Développeur</h5>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center">
					<div class="team-member">
						<img src="assets/images/team/yoann.jpg" alt="cruise">
						<h4>Yoann</h4>
						<h5>Développeur</h5>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>